.footer {
    color: #E0E0E2;
    background-color: #2B4162;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1.4rem;
    padding: 5rem 0 2rem;
    width: 1200px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 10%;
}

.links_item {
    color: #889696;
}

.links_item:hover {
    color: white;
}

.links_item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1rem;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.links_item:hover:after {
    width: 100%;
    left: 0;
}

.brand_description {
    width: 50%;
}

.address {
    font-style: normal;
    width: 17%;
}

.name {
    margin: 0;
    font-weight: bold;
}

.phone {
    color: #E0E0E2;
    text-transform: lowercase;
}

.email {
    text-transform: lowercase;
    color: #E0E0E2;
}

.end {
    width: 100%;
    text-align: center;
    margin-top: 1.4rem;
}

@media only screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        padding: 3rem 1.4rem 0;
        max-width: 600px;
        font-size: small;
        align-items: flex-start;
    }
    h5 {
        margin-top: 1.4rem;
    }
    .brand_description {
        width: auto;
    }
    .links {
        width: auto;
    }
    .links_item {
        font-size: 100px;
    }
    .address {
        width: auto;
    }
    .end {
        margin: 2rem 0;
    }
}