.footer {
    color: #E0E0E2;
    background-color: #2B4162;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 5rem 0 6rem;
    width: 1200px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links_item {
    color: #889696;
}

.links_item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1rem;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #889696;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.links_item:hover:after {
    width: 100%;
    left: 0;
}

.brand_description {
    width: 40%;
}

.address {
    font-style: normal;
}

.name {
    margin: 0;
    font-weight: bold;
}

.phone {
    color: #E0E0E2;
    text-transform: lowercase;
}

.email {
    text-transform: lowercase;
    color: #E0E0E2;
}

.end {
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}