.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
}

a {
    color: #2B4162;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

.links_item {
    margin: 2rem 0 0 2rem;
}

.links_item:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1rem;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #2B4162;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.links_item:hover:after {
    width: 100%;
    left: 0;
}

.brand {
    display: flex;
}

.brand_logo {
    width: 4.5rem;
    border-radius: 50%;
    margin: 0;
}

.brand_name {
    margin: 0.4rem 0 0 1rem;
    align-self: center;
    color: #2B4162;
}

.links {
    align-self: center;
    display: flex;
    position: relative;
}




@media screen and (max-width: 500px) {
    ul {
        margin-top: 40px;
    }
    .links {
       flex-direction: column;
    }
}