/* .layout {
    color: #E0E0E2;
    background-color: #2B4162;
    display: flex;
    justify-content: space-around;
}

.container {
    margin: 1.6rem auto;
    padding: 5rem 0 2rem;
    max-width: 1200px;
} */