.index {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1.4rem;
    padding: 2rem 0 2rem;
    width: 1200px;
}

p:last-child {
    margin: 0;
  }